.card-action-table__btn {
  transition: $transition-base;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  text-align: center;
  border: 1px solid;
  outline: none !important;
  @include button-size($grid-gutter-width/3, $btn-padding-x, $font-size-base, $line-height-base, 0);
  @include button-variant($purple, $purple);
  @include plain-hover-focus(){
    text-decoration: none;
    box-shadow: none;
  }
  @include media-breakpoint-up(xl){
    float: right;
    width: 40px;
  }
}