.card-action {
  transition: $transition-base;
  transition-property: background;
  border: 1px solid $card-action-border-color;
  padding: $grid-gutter-width / 2;
  @include media-breakpoint-up(xl){
    padding: $grid-gutter-width / 1.5;
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width;
  }
}