.card-action__btn {
  transition: $transition-base;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: 1px solid;
  outline: none !important;
  @include button-size($grid-gutter-width/3, $btn-padding-x, $font-size-base, $line-height-base, 0);
  @include button-variant($purple, $purple);
  @include plain-hover-focus(){
    text-decoration: none;
    box-shadow: none;
  }
}
// Стиль иконки
.card-action__btn .fi{
  font-size: rem(24px);
  &:not(:last-child){
    margin-right: $grid-gutter-width/2;
  }
}