$font-family-serif: "PT Serif", serif;

$font-size-lg:                rem(16px) !default;
$font-size-sm:                rem(12px) !default;

$purple: #922B88 !default;
$blue: #1186C7 !default;
$green: #0E6439 !default;

$spacers: (
        auto: auto,
        x: 3px,
        s: 5px,
        m: 10px,
        l: 20px,
) !default;

// Переменные блока card-action;
$card-action-border-color: #E4E7EB !default;
$card-action-active-bg: #F6F7F9 !default;
$card-action-badge-bg: $blue !default;
