.card-action-table__progress {
  background-color: $card-action-active-bg;
  border: 1px solid $card-action-border-color;
  border-radius: $badge-pill-border-radius;
  padding: 2px 4px;
  min-width: 100%;
  height: $grid-gutter-width/3;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    height: 4px;
    background: linear-gradient(to left, rgba(80,149,0,1) 0%,rgba(255,206,0,1) 30%,rgba(255,152,54,1) 60%,rgba(255,0,0,1) 90%);
    border-radius: $badge-pill-border-radius;
  }
  &:after{
    position: relative;
    left: inherit;
    content: '';
    display: block;
    height: 4px;
    background: inherit;
    margin-top: -4px;
  }
}