.counter__btn {
  font-size: rem(18px);
  line-height: 1;
  width: $grid-gutter-width;
  background: transparent;
  color: $green;
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: none;
  position: relative;
  -webkit-appearance: none !important;
}