.card-action__control {
  border-top: 1px dashed $card-action-border-color;
  border-bottom: 1px dashed $card-action-border-color;
  color: $green;
  text-align: center;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/2;
  line-height: 1;
  margin-left: $grid-gutter-width/-1.5;
  margin-right: $grid-gutter-width/-1.5;
  margin-top: $grid-gutter-width/3;
  margin-bottom: $grid-gutter-width/3;
  cursor: pointer;
  span{border-bottom: 1px dashed}
  &:not(.collapsed) span:first-child{
    display: none;
  }
  &.collapsed span:last-child{
    display: none;
  }
}