.card-action-table__col {
  padding-top: $grid-gutter-width/6;
  padding-bottom: $grid-gutter-width/6;
  @include media-breakpoint-down(lg){
    &[data-label]:before{
      content: attr(data-label);
      display: block;
      margin-bottom: $grid-gutter-width/6;
    }
  }
}