.card-action__badge {
  font-size: $font-size-sm;
  background-color: $card-action-badge-bg;
  color: $white;
  font-weight: $font-weight-normal;
  border-radius: $badge-pill-border-radius;
  &:not(:first-child){
    margin-left: $grid-gutter-width/3;
  }
}